:root {

    /* Button Colors for neutral actions. */
    --btn-neutral-color: #b7b7b7;
    --btn-neutral-color-selected: #979797;

    /* Button colors for positive actions. */
    --btn-positive-color: #0cb4a3;
    --btn-positive-color-selected: #175c55;
    
    /* Button colors for negative actions. */
    --btn-negative-color: #b4332b;
    --btn-negative-color-selected: #901f1f;
    
}

/* Buttons and input inherit font from body. */
button, input {
    font-family: inherit;
}

/* CSS classes for styling neutral buttons. */
button.neutral,
a.neutral {
    color: white;
    -webkit-text-stroke-color: #e3e3e3;
    -webkit-text-stroke-width: 0.2px;
    background-color: var(--btn-neutral-color);
}

button.neutral:hover,
a.neutral:hover {
    background-color: var(--btn-neutral-color-selected);
}

/* CSS classes for styling positive buttons. */
button.positive,
a.positive {
    color: white;
    -webkit-text-stroke-color: #e3e3e3;
    -webkit-text-stroke-width: 0.2px;
    background-color: var(--btn-positive-color);
}

button.positive:hover,
a.positive:hover {
    background-color: var(--btn-positive-color-selected);
}

/* CSS classes for styling negative buttons. */
button.negative,
a.negative {
    color: white;
    -webkit-text-stroke-color: #e3e3e3;
    -webkit-text-stroke-width: 0.2px;
    background-color: var(--btn-negative-color);
}

button.negative:hover,
a.negative:hover {
    background-color: var(--btn-negative-color-selected);
}