/*

    Style sheet for website forms.

*/

:root {

    /* Form coloring options. */
    --frm-form-color: #FFFFFF;
    --frm-form-shadow-color: #6e6e6e;
    --frm-fieldset-border-color: #e7e7e7;

}

/* General form properties. */
form {

    margin: auto;
    padding: 1em;
    
    background-color: var(--frm-form-color);

    min-width: auto;
    width: 35em;
    max-width: 40em;

    border-radius: 0.4em;
    border-width: 0;

    box-shadow: 1px 1px 20px 1px var(--frm-form-shadow-color);

}

/* General fieldset properties. */
form fieldset {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 1em auto 1em auto;
    border: 0.15em dotted var(--frm-fieldset-border-color);
    border-radius: 0.5em;

    width: 60%;
    
}

/* General form button properties. */
form button {

    margin: 0.1em 0.1em 0.1em 0.1em;
    padding: 0.3em 1em 0.3em 1em;

    font-size: 16pt;
    text-transform: capitalize;

    border: 0em;
    border-radius: 0.25em;

}

/* Fieldset properties. */
form fieldset legend {
    font-size: 12pt;
    padding: 0 0.25em 0 0.25em;
}

form fieldset h1 {
    font-size: 24pt;
    margin: 0 0 4pt 0;
}

form fieldset p {
    font-size: 12pt;
    margin: 0 0 4pt 0;
}

form fieldset input,
form fieldset select {
    align-self: stretch;
    margin-bottom: 8pt;
    font-size: 14pt;
}

form fieldset meter {
    width: 45%;
}

/* Fieldset section properties. */
form fieldset>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin: 1em auto 0 auto;
}

form fieldset>section p {
    margin: 0 0 0 0;
}

form fieldset>section button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Fieldset section classes for alignment. */
form fieldset>section.right-align {
    margin-right: 0;
    margin-left: auto;
}

form fieldset>section.left-align {
    margin-right: auto;
    margin-left: 0;
}

