/*
    ===================================================
    Form Properties
    ===================================================
*/

:root {

    --frm-form-color: #FFFFFF;
    --frm-form-shadow-color: #822121;
    --frm-fieldset-border-color: #e7e7e7;

}

form {

    margin: 1em;
    padding: 1em;
    
    background-color: var(--frm-form-color);

    width: 100vw;
    max-width: 30em;

    border-radius: 0.4em;
    border-width: 0;

    box-shadow: 1px 1px 20px 1px var(--frm-form-shadow-color);

}

form fieldset {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-block: 0.5em;
    padding-block: 1em;

    border: 0.15em dotted var(--frm-fieldset-border-color);
    border-radius: 0.5em;
}

/*
    ===================================================
    Form Input Properties
    ===================================================
*/

form button {

    margin: 0.1em 0.1em 0.1em 0.1em;
    padding: 0.3em 1em 0.3em 1em;

    font-size: 16pt;
    text-transform: capitalize;

    border: 0em;
    border-radius: 0.25em;

}

/*
    ===================================================
    Form Typeface Properties
    ===================================================
*/

/* Form heading style. */
form>h1 {
    margin-block: 1em;
    width: 100%;
    font-size: 19pt;
    text-transform: capitalize;
    text-align: center;
}

/* Legend style. */
form fieldset legend {
    padding: 0 0.25em 0 0.25em;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}

/* Heading style. */
form fieldset h1 {
    font-size: 24pt;
    font-weight: bold;
    margin: 0 0 4pt 0;
    text-transform: uppercase;
}

/* Paragraph style. */
form fieldset p {
    font-size: 12pt;
    margin: 0 0 4pt 0;
}

/* Style for labels in sections. */
form fieldset>section label {
    margin-block-end: 1em;
    margin-inline: 0.5em;
}

/*
    ===================================================
    Form Input Properties
    ===================================================
*/

form fieldset input,
form fieldset select {
    align-self: stretch;
    font-size: 14pt;

    margin-block: 0.1em 1em;

    padding-block: 0.3em;
    padding-inline: 0.25em;

    border-style: none;
    border-radius: 0.25em;

    box-shadow: 1px 1px 1px 1px #a7a7a7;
}

form fieldset>section select,
form fieldset>section input[type="number"] {
    margin-inline: 0.5em;
    min-width: max-content;
    width: 10em;
}

form fieldset>section input[type="number"] {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px;
    border-radius: 0.25em;
}

/*
    Section layout in a fieldset. Default center align items.
*/
form fieldset>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin-block: 0.5em 0;
    margin-inline: auto;
}

/*
    Button spacing in a fieldset section.
*/
form fieldset>section>button {
    margin-inline: 0.5em;
    box-shadow: 1px 1px 1px 1px #a7a7a7;
}

/* 
    Paragraph spacing in a fieldset section.
*/
form fieldset>section>p {
    margin-block: 0;
}

/*
    ===================================================
    Form Classes
    ===================================================
*/

/*
    Class for right aligning items in a section.
*/
form fieldset>section.right-align {
    margin-right: 0;
    margin-left: auto;
}

/*
    Class for right aligning items in a section.
*/
form fieldset>section.left-align {
    margin-left: 0;
    margin-right: auto;
}


form>fieldset meter {
    width: 45%;
    margin-block-end: 1em;
}