@import url("button-colors.css");
@import url("forms.css");

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #990F02;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

header {
    text-align: center;
    color: white;
}

header>h1 {
    margin-bottom: 0pt;
    font-size: 32pt;
    text-transform: uppercase;
}

header>h2 {
    margin-top: 0pt;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
	max-height: 80vh;
}

/* Home page formatting */

.gradtrackInfo
{
	margin: 5px 5px 5px 5px;
	font-size: 24pt;
	color: white;    
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align:center;
	font-weight: 500;
}

nav
{
	font-size: 14pt;
}
.about-main
{
	max-width: 100vh
}