@import url("button-colors.css");
@import url("forms.css");
@import url("header.css");
@import url("navigation.css");
@import url("selection-table.css");
@import url("dropdown-box.css");
@import url("containers.css");

:root {
    
    /* Body Colors */
    --color-body-background: #a4463c;
    --color-body-background-shadow: #822121;

    /* Main Colors */
    --color-main-background: #FFFFFF;
    --color-main-background-shadow: #a7a7a7;

}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: var(--color-body-background);
    font-family: Arial, Helvetica, sans-serif;
}

body>main>* {
    box-shadow: 1px 1px 20px 1px var(--color-body-background-shadow);
}

body>*>form>fieldset>section>* {
    box-shadow: 1px 1px 1px 1px var(--color-main-background-shadow);
}

body>main {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 50vh;
}

main.selection {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}




img.logo {
    z-index: -10;
    margin: 0 auto 0 auto;
}

/* Home page formatting */

.gradtrackInfo
{
	margin: 5px 5px 5px 5px;
	font-size: 24pt;
    color: white;  
	text-align:center;
	font-weight: 500;
}

.about-main
{
	max-width: 100vh;
}