/*

    Style sheet for website headers.

*/
body>header {
    
    display: flex;
    flex-direction: column;

    padding: 1em auto 1em auto;
    margin: 0 0 1em 0;

    color: white;
    overflow: hidden;
    text-align: center;
}

body>header h1 {
    margin-bottom: 0pt;
    font-size: 42pt;
    text-transform: uppercase;
    justify-self: center;
}

body>header h2 {
    margin-top: 0pt;
    font-size: 28pt;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    body>header h1 {
        font-size: 32pt;
    }

    body>header h2 {
        font-size: 16pt;
    }
}