/*

    Style sheet for website navigation.

*/

nav {
    margin: 0 0 0 0;
    padding: 1em 1em 1em 1em;

    font-size: 16pt;
    
    color: white;
    background-color: black;
}

nav a {

    margin: 0.1em 0.1em 0.1em 0.1em;
    padding: 0.3em 1em 0.3em 1em;

    text-decoration: none;
    text-transform: capitalize;

    color: inherit;
    border-radius: 0.25em;

}

nav a:hover {

    background-color: #202020;
}