table {
    margin: 1em 1em 1em 1em;

    background-color: black;

    border-radius: 0.2em;
    border-style: none;
    border-spacing: 0;
}

table caption {
    
    margin-bottom: 0.2em;
    padding: 0.5em 0.5em 0.5em 0.5em;

    color: white;
    background-color: black;

    font-size: 16pt;

    border-radius: 0.2em;
}

table thead {
    color: white;
}

table tbody>tr>td {
    margin: 0 0 0 0;
    padding: 0.1em 0.5em 0.1em 0.2em;
}

table tbody>tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

table tbody>tr:nth-child(odd){
    background-color: rgb(223, 223, 223);
}

table button {

    margin: 0.2em 0.2em 0.2em 0.2em;
    padding: 0.5em 0.75em 0.5em 0.75em;

    font-size: 12pt;
    text-transform: capitalize;

    border: 0em;
    border-radius: 0.25em;

}